# Managed in Vercel
EMAIL_OCTOPUS_API_KEY=""
EMAIL_OCTOPUS_LIST_ID=""
NEXT_PUBLIC_UMAMI_WEBSITE_ID="646b689e-c14d-46a5-85c2-3cb8cb8fcb97"
SANITY_REVALIDATE_SECRET=""
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="https://oxmose-store.myshopify.com/"
USE_SANITY_CDN="0"