@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * This is god damn awful, I'm sorry.
   */
  *:focus {
    outline: none;
  }

  html {
    @apply overflow-x-hidden bg-black;
  }

  @screen md {
    html {
      font-size: /* 10px, viewport: 1024px -> 16px, viewport: 1920px */ clamp(
        0.625rem,
        0.196rem + 0.67vw,
        1rem
      );
    }
  }

  body {
    @apply min-h-screen overflow-x-hidden bg-white dark:bg-black;
  }

  @supports (min-height: 100svh) {
    body {
      @apply min-h-svh;
    }
  }

  strong {
    @apply font-medium;
  }
}

.about-page-section {
  @apply min-h-[50rem] md:min-h-[60rem];
}

.artist-single-page-layout {
  grid-template-areas:
    "name"
    "image"
    "info"
    "pagination"
    "bio";
}

@screen md {
  .artist-single-page-layout {
    grid-template-areas:
      "name name"
      "pagination pagination"
      "bio info";
  }
}

dotlottie-player svg {
  transform: none !important;
}

:root {
  /* Used for the catalogue card margin */
  --fluid-size: clamp(3rem, 16.1157vh + -6.6942rem, 6rem);
  /* Used for the catalogue page */
  --catalogue-fluid-size: calc(
    clamp(3rem, 26.8456vh + -10.1208rem, 8rem) - 3rem
  );
}
