@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: clamp(0.75rem, 0.4773rem + 0.4545vw, 1rem);
  }

  body {
    @apply min-h-screen bg-white dark:bg-black;
  }

  @supports (min-height: 100svh) {
    body {
      @apply min-h-svh;
    }
  }

  strong {
    @apply font-medium;
  }
}

.about-page-section {
  @apply min-h-[50rem] lg:min-h-[60rem];
}

.artist-single-page-layout {
  grid-template-areas:
    "name"
    "image"
    "info"
    "pagination"
    "bio";
}

@screen lg {
  .artist-single-page-layout {
    grid-template-areas:
      "name name"
      "pagination pagination"
      "bio info";
  }
}
