@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @screen md {
    html {
      font-size: /* 10px, viewport: 1024px -> 16px, viewport: 1920px */ clamp(
        0.625rem,
        0.196rem + 0.67vw,
        1rem
      );
    }
  }

  body {
    @apply min-h-screen bg-white dark:bg-black;
  }

  @supports (min-height: 100svh) {
    body {
      @apply min-h-svh;
    }
  }

  strong {
    @apply font-medium;
  }
}

.about-page-section {
  @apply min-h-[50rem] md:min-h-[60rem];
}

.artist-single-page-layout {
  grid-template-areas:
    "name"
    "image"
    "info"
    "pagination"
    "bio";
}

@screen lg {
  .artist-single-page-layout {
    grid-template-areas:
      "name name"
      "pagination pagination"
      "bio info";
  }
}
